<div class="container">
    <h2>Alterar senha</h2>
    <form class="form-horizontal">
        <fieldset>
            <div class="input-group">
                <input type="text" placeholder="Senha antiga" class="input-lg" />&nbsp;
            </div>
            <br />
            <div class="input-group">
                <input type="text" placeholder="Nova senha" class="input-lg" />&nbsp;
            </div>
            <br />
            <div class="input-group">
                <input type="text" placeholder="Confirmar nova senha" class="input-lg" />&nbsp;
            </div>
            <br />
            <br />
            <button class="btn btn-lg btn-primary">Salvar</button>
            <button class="btn btn-lg btn-default">Cancelar</button>
        </fieldset>
    </form>
</div>