@model dynamic

@{
    ViewBag.Title = "title";
    Layout = "~/Views/shared/_BootstrapLayout.empty.cshtml";
}

  <form class="form-signin">
    <h2 class="form-signin-heading">Iniciar sistema</h2>
    <input type="text" class="form-control" placeholder="Email" autofocus />
    <input type="password" class="form-control" placeholder="password"/>    
    <br/>
    <button class="btn btn-lg btn-primary" type="submit">Login</button>
    <button class="btn btn-lg btn-default" type="reset">Cancelar</button>
    <hr/>
    <br/>
    @Html.ActionLink("Registrar", "Registrar", "Home", new { @class = "btn btn-link" })
    <br/>
    <button class="btn btn-link" type="button">Recuperar senha</button>
  </form>