@model dynamic

@{
    ViewBag.Title = "title";
    Layout = "~/Views/shared/_BootstrapLayout.empty.cshtml";
}
<div class="container">
  <form class="form-signin">
    <h2 class="form-signin-heading">Iniciar sistema</h2>
    <input type="text" class="form-control" placeholder="Email" autofocus />
    <input type="password" class="form-control" placeholder="password"/>    
    <input type="password" class="form-control" placeholder="password"/>    
    <br/>
    <button class="btn btn-lg btn-primary" type="submit">Salvar</button>
    <button class="btn btn-lg btn-default" type="reset">Cancelar</button>
  </form>
</div>